.main-container {
  margin-top: 70px; /* below fixed navbar */
  width: 100%;
  min-height: calc(100vh - 70px);
  background-color: #f8faff;
  padding: 20px 40px; /* side padding */
  box-sizing: border-box;
}
