body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f3f4f8;
}

.dashboard-header {
  background: #363795;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-info button {
  background: white;
  color: #363795;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.dashboard-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
  gap: 20px;
}

.card {
  background: white;
  border-radius: 10px;
  width: 280px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card button {
  background-color: #363795;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background-color: #005c97;
}